@import "_normalize.css";

header {
   padding: 20px 60px;
   background-color: #424141;
   margin-bottom: 50px;
}

nav {
   ul {
      padding: 0 8%;
      display: flex;
      justify-content: space-between;
      li {
         list-style-type: none;
         a {
            font-size: 18px;
            text-decoration: none;
            color: black;
         }
      }

      li:nth-child(2) {
         border: solid 1px;
         border-radius: 5px;
         background-color: #fff;
      }
   }
}

.Main {
   color: #fff;
}

.catalog {
   display: grid;
   grid-template-columns: repeat(auto-fit, 300px);
   grid-template-rows: 1fr;
   column-gap: 30px;
   justify-content: space-between;
   padding: 40px 80px;
   .product__item {
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      width: 300px;
      border-radius: 5px;
      margin: 20px 0;
      border: 1px solid #bdbcbc40;
      .buy-btn {
         background-color: black;
         padding: 10px 20px;
         border: 1px solid black;
         color: #fff;
         border-radius: 5px;
      }
   }
}
